@page
@model Az204WebApp.Pages.ImagesModel
@{
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="file" asp-for="Upload" />
    </div>
    <div class="row">
        <input type="submit" />
    </div>
    </form>
</div>